body { 
    background-color: #fcfcfc;
}

.navbar-brand {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #3949ab;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(0,0,0,.9);
}

a {
    color: #2196f3;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fcfcfc;
    background-color: #2196f3;
}

.dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .1rem;
}


h1.display-1 {
    font-family: 'Major Mono Display', monospace;
    color: #3949ab;
}


h2, h3, h4 {
    color: #5c6bc0; /* #6c757d; */
}

h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.2rem;
}

.bg-light {
    background-color: #e8eaf6 !important;
}

.jumbotron-fluid {
    background-color: #fcfcfc;
}

.btn {
    border-radius: 0.1rem;
}

.btn-primary {
    background-color: #303f9f;
    border-color: #303f9f;
}

btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .1rem rgba(38,143,255,.5);
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .1rem rgba(72,180,97,.5);
}

.btn-light.focus, .btn-light:focus {
    box-shadow: 0 0 0 .1rem rgba(216,217,219,.5);
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 .1rem rgba(225,83,97,.5);
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 .1rem rgba(220,53,69,.5);
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .1rem rgba(108,117,125,.5);
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .1rem rgba(108,117,125,.5);
}

.card {
    border-radius: .1rem;
}

.card-header {
    color: #5c6bc0;
    font-size: 17px;
}


.form-control {
    border-radius: 0;
}

.form-control:focus {
    /* border-color: #80bdff; */
    box-shadow: 0 0 0 .1rem rgba(167, 210, 255, 0.25);
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 .1rem rgba(220,53,69,.25);
}


.alert {
    border: 0;
    border-radius: .1rem;
}
.alert-success {
    color: #33691e;
    background-color: #8bc34a;
    /* border-color: inherit; */
}

.table {
    color: #4c5257;
}

.table thead th {
    border-bottom: 1px solid #babcbd;
}

.table tr td {
    font-family: 'Fira Mono', monospace;    
}

table .inner-table thead th {
    font-weight: normal;
}

.description {
    font-size: .8rem;
}

table .holiday, table .record {
    font-size: smaller;
}

.period {
    font-size: smaller;
}