body { 
    background-color: #fcfcfc;
}

a {
    color: #2196f3;
}

h2, h3 {
    color: #5c6bc0; /* #6c757d; */
}

h3 {
    font-size: 1.5rem;
}


.bg-light {
    background-color: #e8eaf6 !important;
}

.jumbotron-fluid {
    background-color: #fcfcfc;
}

.btn {
    border-radius: 0.1rem;
}

.btn-primary {
    background-color: #303f9f;
    border-color: #303f9f;
}

btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .1rem rgba(38,143,255,.5);
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .1rem rgba(72,180,97,.5);
}

.btn-light.focus, .btn-light:focus {
    box-shadow: 0 0 0 .1rem rgba(216,217,219,.5);
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 .1rem rgba(225,83,97,.5);
}

.card {
    border-radius: .1rem;
}


.form-control {
    border-radius: 0;
}

.form-control:focus {
    /* border-color: #80bdff; */
    box-shadow: 0 0 0 .1rem rgba(167, 210, 255, 0.25);
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    box-shadow: 0 0 0 .1rem rgba(220,53,69,.25);
}


.alert {
    border: 0;
    border-radius: .1rem;
}
.alert-success {
    color: #33691e;
    background-color: #8bc34a;
    /* border-color: inherit; */
}

.table {
    color: #4c5257;
}

.table tr td {
    font-family: 'Fira Mono', monospace;    
}

.description {
    font-size: .8rem;
}